$c-white: #ffffff;
$c-offWhite: #c4c4c4;
$c-black: rgb(62, 60, 61);
$c-blue: #9ACDCB;
$c-pink: #d99f9f;
$c-yellow: #edec97;
$c-green: #b6f291;

body {
  font-family: 'Khand', sans-serif;
  color: $c-white;
  // Background pattern from Subtle Patterns
  background: url('/images/pink-dust.png');
  overflow: hidden;
}

.section {
  margin: 1rem;
}

.container {
  margin: auto;
  max-width: 65rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
  height: 98vh;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.top {
  height: 7rem;
}

.name {
  font-size: 2.5rem;

  > * + * {
    margin-left: 1.5rem;
  }
}

.subtitle {
  font-size: 1.5rem;

  > * + * {
    margin-left: 1rem;
  }
}

.icons {
  display: flex;
  justify-content: center;

  > * + * {
    margin-left: 4rem;
  }
}

.sm-icon {
  width: 3rem;
  height: 3rem;
}

.corner {
  width: 7rem;
  height: 7rem;
  background: $c-white;
  border-radius: 0.3rem;
  transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;

  &:hover {
    width: 9rem;
    height: 9rem;
    transform: rotate(90deg);
  }

  &:hover .corner-title {
    opacity: 0;
    height: auto;
  }
}

.top-left {
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
  background: linear-gradient(to bottom right, $c-offWhite, $c-white);
}

.top-right {
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  background: linear-gradient(to bottom left, $c-offWhite, $c-white);
}

.bottom-right {
  position: absolute;
  bottom: -1.2rem;
  right: -1.2rem;
  background: linear-gradient(to top left, $c-offWhite, $c-white);
}

.bottom-left {
  position: absolute;
  bottom: -1.2rem;
  left: -1.2rem;
  background: linear-gradient(to top right, $c-offWhite, $c-white);
}

.blue {
  &:hover {
    background: $c-blue;
  }
}
.green {
  &:hover {
    background: $c-green;
  }
}
.pink {
  &:hover {
    background: $c-pink;
  }
}
.yellow {
  &:hover {
    background: $c-yellow;
  }
}

.corner-title {
  opacity: 1;
  height: 0;
  display: block;
  color: $c-black;
  font-size: 1.5rem;
  transition: height 0.5s, opacity 0.5s;
  text-align: center;
}

.headshot {
  width: 17rem;
  border: $c-white solid 0.2rem;
  border-radius: 0.2rem;
}

.cell-container {
  display: flex;
  max-height: 17rem;
  font-size: 1.1rem;

  > * + * {
    margin-left: 1rem;
  }
}
