<div class="section">
  <div class="container">
    <div class="contact-item">
      <a href="tel:+1-859-806-2118"><p class="contact-text">{{fa-icon "phone"}}
          (859) 806-2118</p></a>
    </div>
    <div class="contact-item">
      <a href="mailto:nathanvranicar@gmail.com"><p class="contact-text">{{fa-icon "envelope"}}
          nathanvranicar@gmail.com</p></a>
    </div>
  </div>
</div>
{{#link-to "index"}}
  <div class="top-right corner green">
    <h4 class="corner-title">home</h4>
  </div>
{{/link-to}}
