<div class="section">
  <div class="container">
    <div class="contact-item">
      <p class="contact-text">{{fa-icon "phone"}}
        (859) 806-2118</p>
    </div>
    <div class="contact-item">
      <p class="contact-text">{{fa-icon "envelope"}}
        nathanvranicar@gmail.com</p>
    </div>
  </div>
</div>
{{#link-to "index"}}
  <div class="top-right corner green">
    <h4 class="corner-title">home</h4>
  </div>
{{/link-to}}
