<div class="app">
  <div class="main">
    <div class="top"></div>
    <div class="middle">
      <h3 class="name">
        <span>N A T H A N</span>
        <span>V R A N I C A R</span>
      </h3>
      <h4 class="subtitle">
        web developer
      </h4>
    </div>
    <div class="bottom">
      <div class="icons">
        <a target="_blank" href="https://www.facebook.com/nathan.vranicar">
          <img src="/images/facebook-icon.png" class="sm-icon">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/nathan-vranicar-082640b2/">
          <img src="/images/linkedin-icon.png" class="sm-icon">
        </a>
        <a target="_blank" href="https://github.com/nvranicar">
          <img src="/images/github-icon.png" class="sm-icon">
        </a>
      </div>
    </div>
  </div>
  {{#link-to "bio"}}
  <div class="top-left corner blue">
    <h4 class="corner-title">bio</h4>
  </div>
  {{/link-to}}
  {{#link-to "portfolio"}}
  <div class="top-right corner pink">
    <h4 class="corner-title">portfolio</h4>
  </div>
  {{/link-to}}
  <a target="blank" href="https://www.keepandshare.com/doc11/20968/nathan-vranicar-resume-pdf-77k">
  <div class="bottom-right corner yellow">
    <h4 class="corner-title">resume</h4>
  </div>
  </a>
  {{!-- {{#link-to "resume"}}
  <div class="bottom-right corner yellow">
    <h4 class="corner-title">resume</h4>
  </div>
  {{/link-to}} --}}
  {{#link-to "contact"}}
  <div class="bottom-left corner green">
    <h4 class="corner-title">contact</h4>
  </div>
  {{/link-to}}
</div>
