<div class="section">
  <div class="container">
    <div class="cell-container">
      <img src="images/nathanHeadshot.png" class="headshot">
      <div class="text-container">
        <p>With web development, I found a way to combine my thirst for creativity with my natural intuition for technology and problem solving. I love using code to make an idea come together, and now I want to help you do the same.</p>
        <p>When I'm not coding, I love to cook, exercise, and explore my passion for music. I play piano, guitar, bass, tenor sax, and produce electronic music.</p>
      </div>
    </div>
  </div>
</div>
{{#link-to "index"}}
<div class="bottom-right corner blue">
  <h4 class="corner-title">home</h4>
</div>
{{/link-to}}
