<div class="app">
  <div class="main">
    <div class="top"></div>
    <div class="middle">
      <h3 class="name">
        <span>N A T H A N</span>
        <span>V R A N I C A R</span>
      </h3>
      <h4 class="subtitle">
        web developer
      </h4>
    </div>
    <div class="bottom">
      <p>navzep@gmail.com</p>
      <p>859-806-2118</p>
      <div class="icons">
        <a href="https://www.facebook.com/nathan.vranicar">
          <img src="http://www.freeiconspng.com/uploads/images-facebook-f-logo-png-transparent-background-page-2-29.png" class="sm-icon">
        </a>
        <a href="https://www.linkedin.com/in/nathan-vranicar-082640b2/">
          <img src="http://www.iconsdb.com/icons/preview/white/linkedin-3-xxl.png" class="sm-icon">
        </a>
        <a href="https://github.com/nvranicar">
          <img src="http://www.iconsdb.com/icons/preview/white/github-9-xxl.png" class="sm-icon">
        </a>
      </div>
    </div>
  </div>
  <div class="top-left corner">
    <h4 class="corner-title">bio</h4>
  </div>
  <div class="top-right corner">
    <h4 class="corner-title">portfolio</h4>
  </div>
  <div class="bottom-right corner">
    <h4 class="corner-title">resume</h4>
  </div>
  <div class="bottom-left corner">
    <h4 class="corner-title">contact</h4>
  </div>
</div>
