<div class="section">
  <div class="container">
    <div class="grid">
      <div class="grid__item">
        <img src="/images/trippin_screenshot.png" class="site-pic">
        <div class="text-container">
          <p>TRIPPIN: a social website where users upload pictures of their travels, which are then pinned onto a world map based on location.</p>
          <p>{{#link-to "contact"}}
              contact me to see a live demo of the app
            {{/link-to}}</p>
          <p>
            <a href="https://github.com/trippin-labs/trippin">check out the code</a>
          </p>
        </div>
      </div>
      <div class="grid__item">
        <img src="/images/surf_n_paddle_screenshot.png" class="site-pic">
        <div class="text-container">
          <p>SURF & PADDLE: a mock blog or small business website.</p>
          <p>
            <a href="http://06-surf-and-paddle.surge.sh/">live website</a>
          </p>
          <p>
            <a href="https://github.com/nvranicar/06-surf-and-paddle">check out the code</a>
          </p>
        </div>
      </div>
      <div class="grid__item">
        <img src="/images/tshirt_screenshot.png" class="site-pic">
        <div class="text-container">
          <p>T-SHIRTS: a basic online marketplace UI.</p>
          <a href="https://github.com/nvranicar/07-tshirts">check out the code</a>
        </div>
      </div>
      <div class="grid__item">
        <img src="/images/twitch_screenshot.png" class="site-pic">
        <div class="text-container">
          <p>TWITCH: a replica of popular live-streaming service twitch.tv's UI.</p>
          <a href="https://github.com/nvranicar/12-twitch">check out the code</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{#link-to "index"}}
  <div class="bottom-left corner pink">
    <h4 class="corner-title">home</h4>
  </div>
{{/link-to}}
