<div class="section">
  <div class="container">
    <a href="/documents/Nathan_Vranicar_Resume.pdf" class="button">view</a>
    <a href="/documents/Nathan_Vranicar_Resume.pdf" class="button" download>download</a>
  </div>
</div>
{{#link-to "index"}}
<div class="top-left corner yellow">
  <h4 class="corner-title">home</h4>
</div>
{{/link-to}}
